In [36]:
import pandas as pd 

df = pd.read_csv("response_time_.csv")
df.head(8)

                  Date Response Time
0  06/08/2020 07:39:02       0:00:06
1  06/08/2020 07:39:04       0:00:01
2  06/08/2020 07:39:08       0:00:02
3  06/08/2020 07:39:11       0:00:01
4  06/08/2020 07:39:19       0:00:01
5  06/08/2020 07:39:21       0:00:02
6  06/08/2020 07:39:29       0:00:01
7  06/08/2020 07:39:58       0:00:26

In [40]:
df['Date']=pd.to_datetime(df['Date'],format="%d/%m/%Y %H:%M:%S")
df['Response Time']=pd.to_datetime(df['Response Time'],format="%H:%M:%S")
df_trans=df.copy()
df_trans['Date']=df_trans['Date'].dt.date
df_trans['Response Time']=df_trans['Response Time'].dt.time

In [41]:
groups=df_trans.groupby('Date')

import seaborn as sns
import matplotlib.pyplot as plt 

groups.describe()

           Response Time
                   count unique       top freq
Date
2020-08-06           124     15  00:00:02   32
2020-08-07            29      8  00:00:02    9
2020-08-08           126     10  00:00:01   34
2020-08-09           241     13  00:00:02   58
2020-08-10            32      8  00:00:02    9
2020-08-11           108     11  00:00:02   28
2020-08-12           119     10  00:00:01   31
2020-08-13            48      7  00:00:02   15
2020-08-14            40      8  00:00:02    9
2020-08-15            36      6  00:00:03    9
2020-08-16            39      7  00:00:03   12
2020-08-17            94     10  00:00:01   28